*{
    padding: 0;
    margin: 0;
    width: 100%;
}

/*navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position :relative;
    top: 0px;

}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: left;
}


#logo img{
    margin: 5px 4px;
    height: 59px;
}
#navbar ul{
    display : flex;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    top:0px;
    left: 0px;
 width: 100%;
 z-index:-1;
 opacity: 0.4;
}
#navbar ul li{
   color:white;
    list-style: none;

    font-size: 1.5 rem;

}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
#navbar ul li a:hover{
    color:white;
background-color:black;

}
 /*         CART PAGE       */
.cart-page{
    margin: 80px auto;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap:wrap ;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: orange;
    font-weight: normal;
}
td{
    padding: 10px 5px;

}
td input{
width: 40px;
height: 30px;
padding: 5px;

}
td a{
    color: aliceblue;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}